
*{
    box-sizing: border-box;
 }
/* .menu{
    float: left;
    width:20%;
}
.menuitem{
    padding: 8px;
    margin-top: 7px;
    border-bottom: 1px solid black;
} */
.main{
    float: left;
    width: 80%;
    padding: 0 20px;
    overflow: hidden; 
    margin-bottom: 20px;
}

.p{
    text-align:justify;
}

img{
    float: left;
    margin-top: 3px;   
    margin-right: 20px; 
    margin-left: 3px;
    margin-bottom: 10px;
}
.right{
    background-color: rgb(128, 30, 30);
    color: white;
    float: left;
    width: 20%;
    padding: 10px 15px;
    margin-top: 7px;
}
/*-----------------------------------------------------*/

.Navigbar {
    overflow: hidden;
    background-color: navy;
  }
  
  .Navigbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .active {
    background-color: #4CAF50;
    color: white;
  }
  

.Navigbar .icon {
    display: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .Navigbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(2, 14, 184, 0.981);
    color: white;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

/*----------------------------------------------------------------------*/

@media only screen and (max-width: 800px){
    /* For Tablets */
/*-----------------------------------------------------------------------------------------------*/    

    .Navigbar a:not(:first-child), .dropdown .dropbtn {
        display: none;
      }
      .Navigbar a.icon {
        float: right;
        display: block;
      }
/*-----------------------------------------------------------------------------------------------*/    

.main{
    width: 80%;
}
.right{
    width: 100%;
}
.footer{
    width: 100%;
}
}

@media only screen and (max-width: 500px){
    /* For mobile phones */
    /*-----------------------------------------------------------------------------------------------*/    

    .Navigbar .responsive {position: relative;}
    .Navigbar .responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .Navigbar.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .Navigbar.responsive .dropdown {float: none;}
    .Navigbar.responsive .dropdown-content {position: relative;}
    .Navigbar.responsive .dropdown .dropbtn {
      display: block;
      width: 100%;
      text-align: left;
    }
    /*-----------------------------------------------------------------------------------------------*/    
    
.main{
    width: 100%;
}

.right{
    width: 100%;
}

.footer{
    width: 100%;
    
}

}
/*--------------------Arrow down button----------------------------------------------*/    

/* .test {
    border: 2px solid #ffffff;
    background: #444444;
    width: 25px;
    height: 25px;
    border-radius: 6px;
    text-align: center;
    position: relative;
}

.down {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
    margin: auto;
} */

.down {
    position: absolute;
    /*Don't really need this just for demo styling*/
    
    float: left;
    /* border: 2px solid #ffffff; */
    background: navy;
    /* min-width: 05px;
    height: 05px; */
    /* text-align: center; */
    /* border-radius: 6px; */
    /* z-index: 200;  */
    border-left: 04px solid transparent;
    border-right: 04px solid transparent;
    border-top: 04px solid white;
    /* margin: auto; */
    margin: 10px 0.5%;
  }